@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
.App{
    overflow: hidden;
}
.review-description{
    height:185px;
    overflow-y: scroll;
}
.fontContainer{
    font-family: 'Lobster', cursive;
}

.fontContainer1{
    font-family: 'Original Surfer', cursive;
}

input:disabled{
    background-color: transparent;
}
.car{
    position: relative;
    transition: 0.5s ease-in-out;
    outline: none;
}
.car:before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    display:block;
    z-index: 2;
    transition: 0.5 all;
    opacity: 1;
    display:block;
    height:270px;
    width:270px;
    border-radius: 50%;
}
.car:hover{
    transform: translateY(20px);
    background: #419593;
    border-radius: 15px;
}