@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
.App{
    overflow: hidden;
}
.review-description{
    height:185px;
    overflow-y: scroll;
}
.fontContainer{
    font-family: 'Lobster', cursive;
}

.fontContainer1{
    font-family: 'Original Surfer', cursive;
}